{% extends 'admin/base_site.html' %}
{% load i18n admin_urls static admin_list %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}">
{% endblock %}

{% block content %}
<div id="content-main">
    <div class="module">
        <div class="change-form">
            <fieldset class="module aligned">
                <h2>Generar Informe de Citas</h2>
                <form action="" method="post">{% csrf_token %}
                    {{ form.as_p }}
                    <div class="submit-row">
                        <input type="submit" value="Generar Informe" class="default" name="_save">
                    </div>
                </form>
            </fieldset>
        </div>
    </div>
</div>
{% endblock %}
